appname=douyinbot
httpaddr=127.0.0.1
httpport=9080
autorender=true
recoverpanic=true
viewspath=views
runmode=dev
copyrequestbody = true

#session配置
sessionon=true
sessionprovider=memory
sessionname=MINCRONID
sessiongcmaxlifetime=3600
sessionproviderconfig=
sessionhashkey=PNroxCpM0ULMRZ$z5e4e!Gxn

#xsrc跨站攻击防护
enablexsrf = false
xsrfkey = mI7fL9k109ljmoDAmBBTPfowTGEAZznx9b8jH9@5
xsrfexpire = 3600

#视频解析工作协程数量
workernumber=15

#文件默认保存路径
auto-save-path=
douyin-base-url=https://p5-ipv6.douyinpic.com

#微信公众号Token
wechatappid=
wechattoken=
#EncodingAESKey
wechatencodingaeskey=

#七牛配置
qiniuenable=
qiuniuaccesskey=
qiuniusecretkey=
qiuniubucketname=
qiniudoamin=

#百度网盘配置
baidunetdiskenable=
baiduappid=
baiduappkey=
baidusecretkey=
baidusignkey=
baiduregisteredurl=