appname=douyinbot
httpaddr=127.0.0.1
httpport=9080
autorender=true
recoverpanic=true
viewspath=views
runmode=dev

#session配置
sessionon=true
sessionprovider=memory
sessionname=MINCRONID
sessiongcmaxlifetime=3600
sessionproviderconfig=
sessionhashkey=PNroxCpM0ULMRZ$z5e4e!Gxn

#xsrc跨站攻击防护
enablexsrf = false
xsrfkey = mI7fL9k109ljmoDAmBBTPfowTGEAZznx9b8jH9@5
xsrfexpire = 3600

#微信公众号Token
wechattoken=