<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{.video.Nickname}} - {{.desc}}">
    <meta name="google-site-verification" content="J_E-OodpvF9EtDOOrZXUxIt61CpaU89xz8CpN359ILE"/>
    <title>{{.video.Nickname}}_抖音无水印工具_最新抖音在线无水印解析</title>
    <link href="/static/css/video-index.css?v=1738580449" rel="stylesheet">
</head>
<body>
<div class="video-container">
    <div class="video-wrapper">
        <div class="video-item">
            <video autoplay loop playsinline controls preload="none" poster="{{.video.VideoLocalCover}}">
                <source src="{{.video.VideoPlayAddr}}" type="video/mp4">
                <source src="{{urlfor "VideoController.Index" "video_id" .video.VideoId }}" type="video/mp4">
            </video>
            <div class="video-info">
                <h2 class="video-title"><a
                            href="{{urlfor "IndexController.List" ":author_id" .video.AuthorId ":page" 1 }}"
                            title="{{.video.Nickname}}">@{{.video.Nickname}}</a></h2>
                <p class="video-description">{{str2html  .video.Desc}}</p>
            </div>
        </div>
        <!-- 更多视频项 -->

    </div>
    <!-- 加载提示 -->
    <div class="loading-indicator" id="loadingIndicator">加载中...</div>
    <div class="loading-indicator error-indicator" id="errorIndicator" style="display: none">
        加载失败，
        <button onclick="retryLoading()">重试</button>
    </div>
</div>
<script type="text/javascript">
    let videoID = "{{.video.VideoId}}";
    let nexURL = `{{urlfor "ContentController.Next"}}`;
</script>
<script src="/static/js/video.js?v=1738581751"></script>
</body>
</html>