
<!doctype html>
<html lang="zh-CN" class="h-100">
<head>
    <meta name="referrer" content="never">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="抖音无水印工具_最新抖音在线无水印解析">
    <title>{{.Nickname}}_抖音无水印工具_最新抖音在线无水印解析</title>
    <link href="/static/bootstrap/v4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="icon" href="/static/favicons/favicon.ico">

    <style>
        body {
            position: relative;
            font-family: Helvetica, -apple-system, "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft Yahei","Helvetica Neue",Helvetica;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .image-content{
            height: 425px;
            width: 100%;display:flex;
            justify-content:center;
            align-items:center;
            overflow: hidden
        }
        .image-content>img{
            width:100%;
            vertical-align: middle;
        }
        main .card{
            height: 570px
        }
        main .card .card-body>.card-text{
            height:60px;
        }
        .search-head{
            margin: 10px auto;
            padding-bottom: 15px;
            line-height: 1.5em;
            border-bottom: 3px solid #EEEEEE;
        }
        .search-head .search-title{
            font-size: 22px;
            font-weight: 300;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/css/navbar.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>白茶清欢短视频</strong>
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{urlfor "HomeController.Index"}}">抖音无水印下载工具 <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="album py-3 bg-light">
        <div class="container">
            <div class="search-head">
                <strong class="search-title">显示"{{.Nickname}}"的视频列表</strong>
            </div>
            <div class="row">
                {{range .List}}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card mb-4 shadow-sm">
                            <div class="image-content">
                                <img src="{{.VideoCover}}" alt="{{.Nickname}}" data-toggle="modal" data-target="#playVideoModal" data-title="{{.Nickname}}" data-play="{{.VideoPlayAddr}}">
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{.Desc}}.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button data-toggle="modal" data-target="#playVideoModal" data-title="{{.Nickname}}" data-play="{{.VideoPlayAddr}}" class="btn btn-sm btn-outline-secondary">播放</button>
                                        <a href="{{.VideoRawPlayAddr}}" target="_blank" class="btn btn-sm btn-outline-secondary">来源</a>
                                    </div>
                                    <small class="text-muted">{{dateformat .Created "2006-01-02 15:04:05"}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <p>没有数据</p>
                {{end}}
            </div>
            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item{{if eq .First "#"}} disabled{{end}}"><a class="page-link" href="/">首页</a></li>
                        <li class="page-item{{if eq .Previous "#"}} disabled{{end}}"><a class="page-link" href="{{.Previous}}">上一页</a></li>
                        <li class="page-item{{if eq .Next "#"}} disabled{{end}}"><a class="page-link" href="{{.Next}}">下一页</a></li>
                        <li class="page-item{{if eq .Last "#"}} disabled{{end}}"><a class="page-link" href="{{.Last}}">尾页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="modal fade" id="playVideoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <video id="playVideo" autoplay="autoplay" width="100%" height="100%" controls="controls">
                                您的浏览器不支持 video 标签。
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{template "layout/footer.gohtml"}}
<script type="text/javascript">
    $(function () {
        $('#playVideoModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const title = button.data('title');
            const body = button.data('play')

            const modal = $(this);
            modal.find('.modal-title').text(title);
            modal.find('#playVideo').attr('src',body)
            const audio = document.getElementById('playVideo');
            audio.play();
            document.addEventListener("WeixinJSBridgeReady", function () {
                audio.play();
            }, false);
        }).on("hide.bs.modal",function (event) {
            let audio = document.getElementById('playVideo');
            audio.pause();
        });

        if (/i(Phone|P(o|a)d)/.test(navigator.userAgent)) {
            $(document).one('touchstart',
                function(e) {
                    $('#playVideo').get(0).touchstart = true;
                    $('#playVideo').get(0).play();
                    return false;
                });
        }
    });

</script>
</body>
</html>
