<!doctype html>
<html lang="zh-CN" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{.Nickname}}-抖音无水印-抖音型男集锦">
    <meta name="google-site-verification" content="J_E-OodpvF9EtDOOrZXUxIt61CpaU89xz8CpN359ILE"/>
    <meta name="baidu-site-verification" content="codeva-FTqpGqyeAi"/>
    <title>{{.Nickname}}-抖音无水印-抖音型男集锦</title>
    <link href="/static/bootstrap/v4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="icon" href="/static/favicons/favicon.ico">
    <!-- Custom styles for this template -->
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>白茶清欢短视频</strong>
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{urlfor "HomeController.Index"}}">抖音无水印下载工具 <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="album py-3 bg-light">
        <div class="container">
            <div class="search-head">
                <strong class="search-title">显示"{{.Nickname}}"的视频列表</strong>
            </div>
            {{if .Desc}}
                <div class="media author-desc">
                    <img src="{{.AvatarURL}}" class="mr-3" alt="{{.Nickname}}" loading="lazy">
                    <div class="media-body">
                        <h5 class="mt-0">{{.Nickname}}</h5>
                        <p>{{.Desc}}</p>
                    </div>
                </div>
            {{end}}
            {{template "index/main.gohtml" .}}
        </div>
    </div>
    {{template "index/video.gohtml" .}}
</main>
{{template "index/script.gohtml" .}}
</body>
</html>
