name: Release on Tag

on:
  push:
    tags:
      - '*' # 监听所有标签

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest

    steps:
      # 检出代码
      - name: Checkout Code
        uses: actions/checkout@v3

      # 安装依赖
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebp-dev musl-tools musl-dev

      # 设置 Go 环境
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      # 获取当前标签
      - name: Get Tag Name
        id: vars
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      # 登录 Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 构建 Docker 镜像
      - name: Build Docker Image
        run: |
          docker build -t docker.io/${{ secrets.DOCKERHUB_USERNAME }}/douyinbot:${{ env.tag }} .

      # 推送 Docker 镜像
      - name: Push Docker Image
        run: |
          # 添加 latest 标签
          docker tag docker.io/${{ secrets.DOCKERHUB_USERNAME }}/douyinbot:${{ env.tag }} docker.io/${{ secrets.DOCKERHUB_USERNAME }}/douyinbot:latest

          # 推送带版本号的标签
          docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/douyinbot:${{ env.tag }}

          # 推送 latest 标签
          docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/douyinbot:latest
